.main-content .module,
.module {
  @extend %card;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: $sp-4;
    }
  }

  // Three-column schedule table
  .schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: $sp-2 (-$sp-4);
    
    th {
      text-align: left;
      padding: $sp-2;
      border-bottom: 2px solid $border-color;
      font-weight: 600;
      
      @include mq(sm) {
        padding: $sp-2 $sp-4;
      }
      
      &:first-child {
        text-align: right;
        width: 15%;
      }
      
      &:nth-child(2) {
        width: 55%;
      }
      
      &:nth-child(3) {
        width: 30%;
      }
    }
    
    td {
      padding: $sp-2;
      border-top: $border $border-color;
      vertical-align: top;
      
      @include mq(sm) {
        padding: $sp-2 $sp-4;
      }
      
      &:first-child {
        text-align: right;
        white-space: nowrap;
      }
    }
    
    tr:first-child td {
      border-top: $border $border-color;
    }
    
    tr:last-child td {
      border-bottom: $border $border-color;
    }
  }

  >dl {
    border-bottom: $border $border-color;
    border-top: $border $border-color;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: $sp-2 (-$sp-4);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(lg) {
      grid-template-columns: 1fr 7fr;
    }

    %module-item {
      margin: 0;
      padding: $sp-2;

      @include mq(sm) {
        padding: $sp-2 $sp-4;
      }
    }

    >dt {
      @extend %module-item;
      border-top: $border $border-color;
      font-weight: normal;
      text-align: right;

      +dd {
        border-top: $border $border-color;
      }

      &:first-child {
        border-top: none;

        +dd {
          border-top: none;
        }
      }

      &::after {
        content: ":";
      }
    }

    >dd {
      @extend %module-item;

      +dd {
        padding-top: 0;
      }

      ol, ul, dl {
        margin: 0;
      }

      dl {
        display: flex;
        flex-direction: column;

        @include mq(sm) {
          flex-direction: row;
        }

        dt {
          flex: 0 0 62.5%;
          margin: 0;
        }

        dd {
          margin: 0;
        }
      }
    }
  }
}
